@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    Julián Arango Correa<br />
    Carrera 90 AA # 65 EE 77<br />
    <abbr title="Phone">P:</abbr>
    311-746-8187
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:arango773@gmail.com">arango773@gmail.com</a><br />
</address>